.table td, th {
   text-align: left;   
}

.table td{
	padding: .20rem;
	vertical-align: baseline;
	padding-left: 10px;
}

#ul-erros {
	margin-bottom: 0;
}

@media (max-width: 1024px) { 
	.meia-tela{
		width: 50%;
	}

}